table{
    text-align: center;
    border: 1px double black;
    padding: 5px;
    margin: 5px;
    border-collapse: collapse;
}
tr, td, th{
    border: 1px double black;
    padding: 5px;
}

th{
    background-color: coral;
}
tr:hover{
    background-color: aqua;
}